:root {
  --text: black;
  --fundo: white;
}

tml,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--text);
  background-color: var(--fundo);
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
}

html {
  font-size: 100%; /* 16px por padrão */
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
}