.noticias,
.noticias * {
  box-sizing: border-box;
}
.noticias {
  background: #40403f;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: 1050px;
  position: relative;
}
.header {
  background: #252525;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 54px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-1 {
  flex-shrink: 0;
  width: 126.67px;
  height: 37px;
  position: static;
}
.cursos-f-cil {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 1px;
  width: 124px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.subtract {
  width: 22.4px;
  height: 22.4px;
  position: absolute;
  left: 130.84px;
  top: 3px;
  overflow: visible;
}
.menu-superior {
  padding: 10px 0px 10px 0px;
  flex-shrink: 0;
  width: 326px;
  height: 39px;
  position: relative;
  overflow: hidden;
}
.home {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  left: 37px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  left: 110.33px;
  top: 10px;
  width: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noticias2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  left: 238px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.cursos-f-cil2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  left: 374.33px;
  top: 314px;
  width: 124px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.subtract2 {
  width: 22.4px;
  height: 22.4px;
  position: absolute;
  left: 485.16px;
  top: 316px;
  overflow: visible;
}
.buttonj-header {
  background: #16803d;
  border-radius: 5px;
  padding: 8px 0px 8px 0px;
  flex-shrink: 0;
  width: 100px;
  height: 26px;
  position: relative;
}
.login {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 8px;
  width: 100px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1 {
  background: #ffffff;
  align-self: stretch;
  flex-shrink: 0;
  height: 312px;
  position: relative;
  overflow: hidden;
}
.ltimas-noticias {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
  position: absolute;
  left: 390px;
  top: 97px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.veja-agora-aqui-mesmo {
  color: #000000;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  left: 392px;
  top: 197px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ellipse-1 {
  background: #6c63ff;
  border-radius: 50%;
  width: 126px;
  height: 135px;
  position: absolute;
  left: -41px;
  top: 256px;
}
.ellipse-2 {
  background: #6c63ff;
  border-radius: 50%;
  width: 126px;
  height: 135px;
  position: absolute;
  left: 478px;
  top: -78px;
}
.ellipse-3 {
  background: #6c63ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 442px;
  top: -19px;
}
.undraw-happy-news-d-5-bt-1 {
  width: 250px;
  height: 284px;
  position: absolute;
  left: 59px;
  top: 28px;
  overflow: visible;
}
.menu-inferior {
  background: #000000;
  padding: 7px 106px 7px 106px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.cursos-mais-pesquisados {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.curso {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 176px;
  position: relative;
  overflow: hidden;
}
.image {
  flex-shrink: 0;
  width: 176px;
  height: 176px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.conteudo-curso {
  background: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 497px;
  height: 136px;
  position: relative;
  overflow: hidden;
}
.ataque-hacker-na-ucr-nia {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-et-sem-sem-vestibulum-fringilla-urna-a-posuere-blandit-odio-augue-pharetra-ante-eu-semper-tortor-est-sit-amet-tellus-ut-porttitor-massa-vitae-ante-convallis-molestie-proin-sit-amet-urna-sit-amet-purus-interdum-molestie {
  color: #000000;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 134px;
  height: 28px;
  position: relative;
}
.saiba-mais {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 6.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.conteudo-curso2 {
  background: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 497px;
  position: relative;
  overflow: hidden;
}
.uso-de-python-em-sistemas-de-geladeiras {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nova-linguagem-est-fazendo-sucesso {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background: #000000;
  padding: 11px 200px 11px 200px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 138px;
  position: relative;
  overflow: hidden;
}
._2025-cursos-f-cil-todos-os-direitos-reservados {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-7 {
  flex-shrink: 0;
  width: 120px;
  height: 30px;
  position: static;
}
.image2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 290px;
  top: 49.5px;
  object-fit: cover;
}
.image3 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 320px;
  top: 49.5px;
  object-fit: cover;
}
.image4 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 350px;
  top: 49.5px;
  object-fit: cover;
}
.image5 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 380px;
  top: 49.5px;
  object-fit: cover;
}
.group-6 {
  flex-shrink: 0;
  width: 110px;
  height: 24px;
  position: static;
}
.voltar-ao-topo {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 295px;
  top: 105.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 381px;
  top: 101.5px;
  overflow: visible;
}
